body {
  text-align: center;
}

#diceField {
  background-color: #B8F28C;
}

#workspace {
  background-color: #FFB74C;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 150px;
  height: 80px;
  text-align: center;
}

.playerImage {
  width: 80px;
  height: 80px;
}

.diceImage {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: none;
}

/*親をオレンジ色で示す*/
#player1 {
  background-color: #FFB74C;
}
#player2 {
  background-color: #FFB74C;
}
#player3 {
  background-color: #FFB74C;
}
#player4 {
  background-color: #FFB74C;
}
