#menu * {
  border: solid 1px #AAAAAA;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 200px;
}

#menu dd {
  background: #EEEEEE;
  border: solid 1px #AAAAAA;
  text-align: center;
  display: none;
}
